.wrapper {
  position: sticky;
  width: 100%;
  margin-right: 20px;
  /* top: 0px; */
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #fff;
  /* margin: 0 auto; */
  border: solid 4px black;
  border-radius: 4px;
  height: 200px;
  /* border-bottom: solid 4px black; */
  /* background-color: #000; */
}

.main-header2 {
  position: -webkit-sticky;
  position: sticky;
  top: 250px;
  background-color: #fff;
  /* margin: 0 auto; */
  border: solid 4px black;
  border-radius: 4px;
  height: 900px;
  /* border-bottom: solid 4px black; */
  /* background-color: #000; */
}

.main-header nav {
  /* border: solid 4px red; */
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  position: relative;
  /* margin-left: 20px; */
  top: 50px;
  /* padding-top: 40px; */
}

.content {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 85%;
}

.sitcky-nav {
  width: 100%;
  height: 600px;
  border: solid 1px black;

  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

.sticky-nav nav {
  color: #000;
}

.sticky-nav nav li {
  color: red;
  /* border: solid 1px black; */
  margin-left: 50%;
}

.definition {
  margin-bottom: 20px;
}
.term {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 40px;
}

.resources {
  margin-left: 20px;
}

.course-sections-container {
  display: flex;
}

.course-section {
  width: 50%;
}

.course-section ul {
  list-style-type: none;
}

.course-section li {
  font-size: 130%;
  margin-bottom: 5px;
}

.course-section li::before {
  content: "- ";
}

.course-section a {
  text-decoration: none;
}

.course-section h3 {
  margin-left: 40px;
}
